.Burger {
    height: 500px;
    width: 450px;
    margin: auto;
    overflow: scroll;
}

.UpperBread {
    background: linear-gradient(#994d00, #cc6600);
    height: 15%;
    width: 80%;
    border-radius: 50% 50% 3px 3px;
    box-shadow: inset -15px 1px #804000;
    margin: 20% auto 2% auto;
}

.BottomBread {
    background: linear-gradient(#cc6600, #994d00);
    height: 10%;
    width: 80%;
    margin: 2% auto;
    border-radius: 3px 3px 15% 15%;
    box-shadow: inset -15px 1px #804000;
}