.Toolbar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #cc6600;
    display: flex;
    height: 5%;
    width: 100%;
    justify-content: space-between;
}

.Logo {
    height: 80%;
}

@media (max-width: 499px) {
    .DeskOnly {
        display: none;
    }
}